# Core functionality - changes here should be rare!
/src/app.py                   @AKASH-1AK
/src/backend/database.py      @AKASH-1AK
/src/backend/routers/auth.py  @AKASH-1AK

# The frontend will need refactored soon to be more object oriented.
/src/static/   @AKASH-1AK
